// カスタムスタイル
@import "minimal-mistakes"; // Minimal Mistakesのベーススタイルをインポート

// カスタマイズスタイルをここに追加



// サイドバーとメインコンテンツの幅を調整
.layout--default .main {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.layout--default .main .content {
   flex: 1;
   max-width: 100%;
   padding: 16px;
}

.layout--default .main .sidebar {
   flex: 0 0 300px;
   margin-left: 16px;
}


