---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom"; // カスタムスタイルを読み込む

.post-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.post-card img {
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 8px;
}

.post-card h2 {
    font-size: 1.25rem;
    margin: 8px 0;
}

.post-card p {
    font-size: 1rem;
    color: #666;
}

body {
    background-color: #FFFDF5;
    color: #1c1b1d;
}



a {
    color: #6200ea; /* Primary Color */
}

a:hover {
    color: #3700b3; /* Darker Shade */
}

