---
layout: archive
---

{{ content }}

<div class="main">


  <!-- メインコンテンツ -->
  <section class="content">
    <div class="post-cards">
      {% for post in site.posts %}
      <div class="post-card">
        <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="content">
    <div class="post-cards">
      {% for post in site.posts %}
      <div class="post-card">
        <img src="{{ post.header.teaser | relative_url }}" alt="{{ post.title }}">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
      </div>
      {% endfor %}
    </div>
  </section>
</div>


